<div style="text-align:center;">

  <div class="h1">
    <h1>Welcome to your new sneaker blog!</h1>

    <%= form_for(:user) do |f|%>
     <%= f.label :username%>
     <%=f.text_field :username%>
     <br>
     <br>
     <%=f.label :password%>
     <%=f.password_field :password%>
     <br>
     <br>
     <%= f.submit "Log in!"%>
    <% end %>
  </div>
</div>
