<div class="h1">
<%= render partial: 'layouts/error', locals: {thing: @review} %>

  <%= form_for @review, url: {action: "create"} do |f| %>

  <% if params[:sneaker_id]%>
    <%= f.hidden_field :sneaker_id%>

    <h1>Add a review for <%= @sneaker.name %></h1>
  <% else %>
    <h1>Create a review</h1>
    <%= f.label :sneaker_id, "Please Select a Sneaker"%>
    <%= f.collection_select :sneaker_id, Sneaker.all, :id, :name, include_blank: true%>
  <br>
  <br>
  <% end %>

  <%= f.label :stars%>
  <%= f.number_field :stars, min:0, max:10%>
  <br>
  <br>
  <%= f.label :recommend?%>
  <%= f.check_box :recommendation%>
  <br>
  <br>
  <%= f.label :title%>
  <%= f.text_field :title%>
  <br>
  <br>
  <%= f.label :thoughts?%>
  <br>
  <br>
  <%= f.text_area :thoughts%>
  <br>
  <br>
    <%= f.submit "add your review"%>
  <% end %>
</div>
