<h1>Add a sneaker!</h1>

<%= render partial: 'layouts/error', locals: {thing: @sneaker} %>

<%= form_for(@sneaker) do |f|%>
  <%= f.label :name%>
  <%=f.text_field :name%>
  <br>
  <%= f.label :price%>
  <%= f.number_field :price%>
  <br>
  <%=f.label :description%>
  <%=f.text_field :description%>
  <br>
  <%= f.label :sneaker_picture%>
  <%= f.file_field :sneaker_image%>
  <br>

  <%= f.submit "Create!"%>
<% end %>
